<form method="post">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
            <div id="panel-login" class="panel panel-danger">
                <div class="panel-heading"><i class="fa fa-user"></i> Iniciar sesión</div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" type="text" name="user" id="user" placeholder="Usuario" required autofocus>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                        <input class="form-control" type="password" name="passwd" id="passwd" placeholder="Contraseña" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-lg btn-default" style="width: 100%; display: block;">
                <i class="fa fa-sign-in"></i> Entrar
            </button>
        </div>
    </div>
</form>
<script>
$(function(){
	$("input").change(function(){
		$("#panel-login").removeClass("panel-danger").addClass("panel-default");
	});
	$("input[type=password]").change(function(){
		$("button[type=submit]").removeClass("btn-default").addClass("btn-primary");
	});
});
</script>
