<form method="post">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Iniciar sesión</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" type="text" name="user" id="user" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                    <input class="form-control" type="password" name="passwd" id="passwd" placeholder="Contraseña" required>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <button type="submit" class="btn btn-lg btn-primary" style="width: 100%; display: block;">Entrar</button>
    </div>
</form>
<script>
$(function(){
	// ---
});
</script>
