<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#289ad2">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Telegram PHP Admin - %%TITLE%%</title>
	<link rel="icon" sizes="192x192" href="favicon-high.png">
	<link rel="apple-touch-icon" href="favicon-high.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		table.table tr:first-child td{ border: 0; }
		table.table, .progress{ margin-bottom: 0; }
	</style>
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">%%BOTNAME%%</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						%%MENU%%
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main class="container">
		%%MAIN%%
	</main>
</body>
</html>
