<div class="col-xs-12 col-md-6">
	<div id="panel-sysinfo" class="panel panel-default">
		<div class="panel-heading"><i class="fa fa-server"></i> Información del sistema</div>
		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr data-column="uptime">
						<td class="col-xs-4 col-md-3"><i class="fa fa-clock-o"></i> Activo</td>
						<td></td>
					</tr>
					<tr data-column="ram">
						<td class="col-xs-4 col-md-3"><i class="fa fa-tasks"></i> RAM</td>
						<td>
							<div id="pbar-ram" class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
							</div>
						</td>
					</tr>
					<tr data-column="cpu">
						<!-- cogs / tasks / tachometer -->
						<td class="col-xs-4 col-md-3"><i class="fa fa-microchip"></i> CPU</td>
						<td>
							<div id="pbar-cpu" class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
function updateSysinfo(){
	$.ajax({
		method: "GET",
		url: "ajax.php?action=sysinfo",
		dataType: "json"
	}).done(function(ret){
		pushSysinfo(ret);
		setTimeout(function(){ updateSysinfo(); }, 3000);
	}).fail(function(ret){
		pushSysinfo(false);
		setTimeout(function(){ updateSysinfo(); }, 12000);
	});
}

function pushSysinfo(data){
	var $panel = $("#panel-sysinfo");
	var $table = $("#panel-sysinfo table tbody");

	if(data){
		$panel
			.removeClass("panel-danger")
			.addClass("panel-default");
		// -------
		var t = Math.floor($.now() / 1000); // Current time
		t = t - data.uptime; // Uptime
		var d = Math.floor(t / 86400);
		var h = Math.floor((t - (d * 86400)) / 3600);

		$table.find("tr[data-column=uptime] td:last").text( d + "d " + h + "h" );
		// -------
		var ram = Math.floor(((data.ram[0] - data.ram[1]) / data.ram[0]) * 100);
		$("#pbar-ram .progress-bar")
			.prop('aria-valuenow', ram)
			.css('width', ram+"%");
		// -------
		var load = Math.floor((data.cpu[0] / data.cpu[3]) * 100);
		$("#pbar-cpu .progress-bar")
			.prop('aria-valuenow', load)
			.css('width', load+"%");
	}else{
		$panel
			.removeClass("panel-default")
			.addClass("panel-danger");
	}
}

$(function(){
	// updateSysinfo();
});
</script>
