<div id="panel-webhook" class="panel panel-default col-xs-12 col-md-6">
	<div class="panel-heading">Webhook</div>
	<div class="panel-body">
		<table class="table">
			<tbody>
				<tr data-column="ok">
					<th class="col-xs-3"><i class="fa fa-cog"></i> Estado</th>
					<td><i class="fa fa-check-circle-o"></i></td>
				</tr>
				<tr data-column="url">
					<th class="col-xs-3"><i class="fa fa-link"></i> Webhook</th>
					<td></td>
				</tr>
				<tr data-column="pending_update_count">
					<th class="col-xs-3"><i class="fa fa-comments-o"></i> Mensajes pendientes</th>
					<td></td>
				</tr>
				<tr data-column="max_connections">
					<th class="col-xs-3"><i class="fa fa-plug"></i> Máx. Conexiones</th>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script>
function updateWebhook(){
	var $panel = $("#panel-webhook");
	var $table = $("#panel-webhook table tbody");
	$.ajax({
		method: "GET"
		url: "ajax.php?action=getWebhookInfo",
		dataType: "json"
	}).done(function(ret){
		$panel
			.removeClass("panel-danger")
			.addClass("panel-default");
		var cols = ['url', 'pending_update_count', 'max_connections'];
		$.each(cols, function(i){
			$($table + " tr[data-column=" + cols[i] +"] td").text(ret.result[cols[i]]);
		});

		$($table + " tr[data-column=url] td").text(ret.result.url);
		$($table + " tr[data-column=url] td").text(ret.result.url);
	}).fail(function(ret){
		$panel
			.removeClass("panel-default")
			.addClass("panel-danger");
	});

	setTimeout(function(){ updateWebhook(); }, 3000);
}

$(function(){
	updateWebhook();
});
</script>
