<div class="col-xs-12 col-md-6">
	<div id="panel-webhook" class="panel panel-default">
		<div class="panel-heading"><i class="fa fa-telegram"></i> Webhook</div>
		<div class="panel-body">
			<table class="table">
				<tbody>
					<tr data-column="ok">
						<td class="col-xs-4 col-md-3"><i class="fa fa-cog"></i> Estado</td>
						<td><i class="fa fa-check-circle-o"></i></td>
					</tr>
					<tr data-column="url">
						<td class="col-xs-4 col-md-3"><i class="fa fa-link"></i> Webhook</td>
						<td></td>
					</tr>
					<tr data-column="pending_update_count">
						<td class="col-xs-4 col-md-3"><i class="fa fa-comments-o"></i> Pendientes</td>
						<td></td>
					</tr>
					<tr data-column="max_connections">
						<td class="col-xs-4 col-md-3"><i class="fa fa-plug"></i> Conexiones</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
function updateWebhook(){
	$.ajax({
		method: "GET",
		url: "ajax.php?action=getWebhookInfo",
		dataType: "json"
	}).done(function(ret){
		pushWebhook(ret);
		setTimeout(function(){ updateWebhook(); }, 3000);
	}).fail(function(ret){
		pushWebhook(false);
		setTimeout(function(){ updateWebhook(); }, 12000);
	});
}

function pushWebhook(data){
	var $panel = $("#panel-webhook");
	var $table = $("#panel-webhook table tbody");

	if(data){
		$panel
			.removeClass("panel-danger")
			.addClass("panel-default");
		var cols = ['url', 'pending_update_count', 'max_connections'];
		$.each(cols, function(i){
			$table.find("tr[data-column=" + cols[i] +"] td:last").text(data.result[cols[i]]);
		});
	}else{
		$panel
			.removeClass("panel-default")
			.addClass("panel-danger");
	}
}

$(function(){
	// updateWebhook();
});
</script>
